/************************
* * * * REPOTABLE * * * *
************************/

@import "../bower_components/bootstrap/scss/mixins";
@import "../bower_components/bootstrap/scss/variables";
@import "mixins";
@import "droppables";
@import "navs";
@import "tables";

th {
    &[draggable-item] {
        height: 44px;
        &:not([disabled]) {
            &:hover {
                background-color: #f0f0f0;
            }
            &.dragging {
                background-color: #fff;
            }
        }
    }
    &[droppable-item] {
        &:not([disabled]) {
            &.dropping {
                background-color: #f8f8f8;
            }
        }
    }
}

.atable-dynamic {
    th[draggable-item] {
        &:not([disabled]) {
            @include transition();
        }
    }
}

.repotable {
    $accent: #0002f3;
    $negative: #ffffff;
    $hilight: #FFEB3B;
    section {
        border: 4px solid $accent;
        border-radius: 6px;
        padding: 10px 10px 0 10px;
        // overflow: hidden;
    }
    h6 {
        position: relative;
        background: $accent;
        color: $negative;
        padding: 8px 10px;
        margin: 0 -10px 10px;
        @include box-shadow(0 10px 20px -5px rgba(0, 0, 0, 0.3));
    }
    .headline {
        @include flex();
        z-index: 1;
        padding: 5px 10px;
        margin: -13px -10px 0 -10px;
        @include box-shadow(0 10px 20px -5px rgba(0, 0, 0, 0.3));
        .form-control {
            width: calc(100% - 50px);
            background: transparent;
            border-radius: 3px;
            color: #fff;
            padding: 0 4px;
            line-height: 30px;
            margin: 0;
            border: none;
            &::placeholder {
                color: white;
            }
            &:hover {
                background: rgba(0, 0, 0, 0.2);
            }
            &:focus {
                background: rgba(0, 0, 0, 0.4);
            }
            @include transition();
        }
    }
    button:focus {
        outline: 0;
        border: none;
    }
    .draggable {
        background: white;
    }
    .filter-btn {
        width: 100%;
        margin: 0;
        border-radius: 0;
        border: 0 solid #0002f3;
        background: #0002f3;
        color: #fff;
        line-height: 30px;
        height: 30px;
        vertical-align: middle;
        font-size: 12px;
        font-weight: 800;
        padding: 0;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        text-transform: uppercase;
        span {
            display: block;
            position: relative;
            @include transform(translateY(0));
            @include transition;
        }
        &:after {
            content: '9';
            font-family: 'Project';
            font-size: 13px;
            display: block;
            position: absolute;
            right: 0;
            float: none;
            border: none;
            width: 100%;
            height: 30px;
            line-height: 30px;
            background: transparent;
            text-align: center;
            top: 0;
            left: 0;
            margin: 0;
            padding: 0;
            @include transform(translateY(-100%));
            @include transition;
        }
        &:hover {
            span {
                @include transform(translateY(100%));
            }
            &:after {
                @include transform(translateY(0));
            }
        }
    }
    .sort-btn {
        width: 100%;
        margin: 0;
        border-radius: 0;
        border: 0 solid #eee;
        background: #eee;
        color: #111;
        line-height: 20px;
        height: 20px;
        vertical-align: middle;
        font-size: 11px;
        font-weight: 800;
        text-transform: uppercase;
        padding: 0;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        span {
            display: block;
            position: relative;
        }
        @include transition;
        &:hover {
            background: #bbb;
        }
    }
    .th-label {
        display: block;
        width: 100%;
        height: 30px;
        line-height: 30px;
        padding: 0 8px;
    }
    th {
        vertical-align: bottom;
        color: black;
        padding: 10px 0 0 0;
    }
    th+th {
        padding-left: 1px;
    }
    td {
        border-bottom: 1px solid $accent;
        /*
        span {
            max-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        */
    }
    td,
    th {
        &.dynamic {
            background: rgba($primary, 0.05);
        }
        &.aggregate {
            text-align: right;
        }
    }
    .aggregate+.aggregate {
        border-left: 1px solid rgba($primary, 0.05);
    }
    .filters {
        // position: absolute;
        // top: 246px;
        // left: 0;
        // width: 100%;
        // height: calc(100% - 170px);
        // z-index: 100;
        background: white;
        // transform: translateY(-100%);
        @include transition();
        /*
        &.opened {
            @include transform(translateY(0));
        }
        */
        // overflow: hidden;
        // overflow-y: auto;
        // -webkit-overflow-scrolling: touch;
        .inner {
            padding: 10px 0;
        }
        h4 {
            margin: 20px 0 10px 0;
            font-weight: 300;
        }
    }
    .fields {
        padding: 0;
        // @include flex();
    }
    .fields-absolute {
        position: absolute;
        width: 400px;
        top: 92px;
        white-space: normal;
        background: white;
    }
    .field {
        display: inline-block;
        position: relative;
        font-size: 11px;
        font-weight: 500;
        line-height: 23px;
        margin: 0 2px 2px 0;
        vertical-align: middle;
        padding: 2px 6px 0 6px;
        color: #111;
        text-transform: capitalize;
        transition-delay: 0s;
        border-radius: 3px;
        width: calc(20% - 2px);
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 7px;
        background-color: #ddd;
        white-space: nowrap;
        border: 0 solid #ddd;
        &>i {
            position: absolute;
            top: 50%;
            right: 6px;
            line-height: 14px;
            @include transform(translateX(20px) translateY(-50%));
            @include transition();
        }
        &:hover:not(:active),
        &.active {
            background-color: $hilight;
            border-color: $hilight;
        }
        &.active {
            &>i {
                @include transform(translateX(0) translateY(-50%));
            }
        }
        @include transition();
    }
    .text-underline {
        text-decoration: underline;
    }
    .text-highlight {
        background-color: $hilight;
    }
    [ng-click] {
        cursor: pointer;
    }
    
    $max-width: 460px;

    td, th {
        max-width: $max-width;
        text-rendering: optimizeLegibility;
        -moz-osx-font-smoothing: grayscale;
    }
    
    th {
        vertical-align: bottom;
        color: black;
        height: 90px;
        .th-fixed {
            position: absolute;
        }
    }

    .cell-text {
        & > span {
            text-transform: uppercase;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: $max-width;
        }
    }

    .cell-status, .cell-resource, .cell-date {
        & > span {
            text-align: center;
            vertical-align: middle;
            line-height: 10px;
            font-weight: 400;
            border-radius: 3px;
            padding: 3px 5px 5px 5px;
            background: #f8f8f8;            
            color: black;
            text-transform: uppercase;            
        }
    }

    @include media-breakpoint-down(md) {
        .inner {
            min-width: 320px;
            /* 
            max-height: calc(100vh - 300px);
            overflow: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            */
        }
    }
    @include media-breakpoint-up(md) {
        .inner {
            min-width: 640px;
            // min-height: 600px;
        }
    }
}


.atable-dynamic {
    thead.dummy {
        display: none;
    }
}
[sticky-table-header] {
    position: relative;
    // table-layout: fixed;
    border-collapse: separate;
    // width: 100%;
    // margin-bottom: 0;
    
    .dummy {
        display: table-header-group;
        visibility: hidden;
    }
        
    .real {

        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        background: white;
        width: 100%;
        
        /*            
        border: none;
        th {
            border: none;
            &:first-child {
                overflow-y: hidden;
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    z-index: 100;
                    top: 0;
                    height: 100%;
                    width: 1000px;
                    left: -1000px;
                    background: #000a1b;
                }
            }
            &:last-child {
                overflow-y: hidden;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    z-index: 100;
                    top: 0;
                    height: 100%;
                    width: 1000px;
                    right: -1000px;
                    background: #000a1b;
                }
            }
        }
        */
    }

    &.sticked {
        .real {
            @include box-shadow(0 10px 20px -5px rgba(0, 0, 0, 0.15));
        }
    }
    
    /*
    .msie & {
        .dummy {
            display: none;
        }
        .real {
            visibility: visible;
        }
    }
    */
}
