
@mixin scrollbar($size: 4px, $color: rgba(0,0,0,0.25)) {
    &::-webkit-scrollbar {
        width: $size; 
        height: $size;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-border-radius: $size /2;
        border-radius: $size /2;
    }
    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: $size / 2;
        border-radius: $size / 2;
        background: $color;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    &::-webkit-scrollbar-thumb:window-inactive {
        background: $color;
    }    
}
